rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow all for development - BE CAREFUL before production
      allow read, write: if true;
    }
  }
}
